@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Merriweather+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
}

.home {
    background-image: url(images/victoriaOnSwing.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #f7f9fb;
}

.home h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.home h3 {
    font-size: 30px;
}

i {
    font-size: 80px;
    color: #f7f9fb;
    margin-top: 15px;
}
