@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Merriweather+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #f7f9fb;
    color: #182628;
}

#home {
    background-image: url(images/victoriaOnSwing.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #f7f9fb;
}

#home h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #182628;
}

#home h3 {
    font-size: 30px;
    text-shadow: 2px 2px 2px #182628;
}


#about {
    background-color: #3b945E;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.textBox {
    background-color: #f7f9fb;
    color: #182628;
    text-align: left;
    width: 95%;
    margin: auto;
    padding: 15px;
}

.textBox a {
    background-color: #182628;
    color: #f7f9fb;
    justify-content: center;
}
.textBox div {
    display: flex;
    background-color: #182628;
    color: #f7f9fb;
    justify-content: center;
    width: 160px;
    margin: auto;
    border-radius: 5px;
}

i {
    font-size: 80px;
    color: #f7f9fb;
    margin-top: 15px;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 45px;
}
#skills {
    background-color: #57BA98;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#skills h1 {
    margin-top: 40px;
}

#webDevelopment {
    margin-top: 10px;
}

#webDevelopment .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

#webDevelopment .box {
    width: 33.3%;
    text-align: center;
    padding: 10px;
}

#webDevelopment .box h3 {
    font-size: 15px;
}

#webDevelopment i {
    font-size: 60px;
    margin: auto;
    color: #f7f9fb;
}

.textBox ul {
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-column-gap: 10px;
}

#skills h3 {
    text-align: center;
}

#portfolio {
    background-color: #65CCB8;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#portfolio h1 {
    margin-bottom: 80px;
}

i {
    font-size: 80px;
    color: #f7f9fb;
}

#contact {
    background-color: #3b945E;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#contactMe {
    margin: 40px;
}
#contactMe a{
    color: #f7f9fb;
    margin: 10px;
    font-size: 16px;
}


#follow i {
    font-size: 48px;
    margin: 0 10px;
}

a {
    color: #3b945E;
}







/* Media Queries */
@media (min-width: 576px)
{ 
    #portfolio {
        height: 200vh;
    }
 }

 @media (max-width: 576px)
 { 
     #portfolio {
         height: 150vh;
     }
  }

  @media (min-width: 768px)
 { 
     #portfolio {
         height: 100vh;
     }
  }

